@font-face {
    font-family: 'Fairies';
    src: url('fairies.ttf') format('truetype');
}

html {
    background: pink;
}

* {
    font-family: 'Fairies', sans-serif;
    font-weight: normal;
}

p {
    font-size: 1.5rem;
}

body {
    background-color: white;
    max-width: 666px;
    margin: 1.5rem auto 5rem;
    box-sizing: border-box;
    padding: 2rem
}

body,
img {
    width: 100%
}

@media (max-width:666px) {
    body {
        padding: 1rem 1rem 2rem;
        margin: 0;
        min-height: 100vh;
        border: none
    }

}